<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

        .book {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        .jokeText {
            margin-left: 50px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная страница</a>
        <a href="{{ url_for('create') }}">Добавить анекдот</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>